<% @page_title = @collection.name %>
<% turbo_exempts_page_from_cache %>

<%= turbo_stream_from @collection %>

<% content_for :head do %>
  <%= tag.meta property: "og:title", content: @page_title %>
  <%= tag.meta property: "og:description", content: Account.sole.name %>
  <%= tag.meta property: "og:url", content: collection_url(@collection) %>
<% end %>

<% content_for :header do %>
  <%= render "filters/menu", user_filtering: @user_filtering %>

  <div class="header__actions header__actions--start">
    <%= render "cards/webhooks", collection: @collection if Current.user.admin? %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= @collection.name %></span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= render "cards/collection_settings", collection: @collection %>
  </div>
<% end %>

<%= render "filters/settings", filter_url: collection_path(@collection), user_filtering: @user_filtering, no_filtering_url: collection_path(@collection) do |form| %>
  <%= hidden_field_tag "collection_ids[]", @collection.id %>
<% end %>

<%= turbo_frame_tag :cards_container do %>
  <% if @filter.used?(ignore_collections: true) %>
    <%= render "collections/show/filtered_cards", page: @page %>
  <% else %>
    <%= render "collections/show/columns", page: @page, collection: @collection %>
  <% end %>
<% end %>
